.profile-menu-wrapper {
  border: 1px solid #24303c !important;
  transition: 0.1s;
  border-radius: 0.3rem;
}

.profile-menu-wrapper:hover {
  background: #24303c !important;
}

.profile-menu-wrapper:hover .profile-menu {
  background: #24303c !important;
}

.profile-menu {
  background: #14181c !important;
  box-shadow: none !important;
  border: none !important;
  transition: 0.1s;
}

.profile-menu .item {
  color: #9ab !important;
  text-shadow: none !important;
}

.profile-menu .item:hover {
  color: #fff !important;
}

.profile-menu .active.item {
  background: #24303c !important;
  color: #fff !important;
}

.ui.compact.menu .item:last-child,
.ui.compact.menu .item:first-child {
  border-radius: 0 !important;
}
