.game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-right: 2%;
  margin-left: 2%;
}

.game-card {
  border: 2px solid #373a3e;
}

.game-card:hover {
  box-shadow: 0 0 30px #373a3e;
}

.game-header > h1,
h2 {
  color: #fff;
  text-shadow: #000 2px 0 5px;
  display: inline;
  margin-right: 0.7rem;
}

.title {
  text-align: center;
}

.center {
  text-align: center;
}

.filter-selector {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-left: 5px;
}

.filter-labels {
  display: inline-flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: 1px solid #2f353c;
  border-radius: 5px;
}

.remove-button {
  margin: 3px;
}

.remove-button:hover {
  color: #c4000a;
}
