.ui.inverted.menu .pink.active.item:hover {
  background: #e03997 !important;
  text-shadow: none !important;
}

.ui.inverted.menu .violet.active.item:hover {
  background: #6435c9 !important;
  text-shadow: none !important;
}

.ui.inverted.menu .yellow.active.item:hover {
  background: #fbbe08f5 !important;
  text-shadow: none !important;
}

.ui.inverted.menu .orange.active.item:hover {
  background: #f2711c !important;
  text-shadow: none !important;
}

.ui.inverted.menu .green.active.item:hover {
  background: #21ba45 !important;
  text-shadow: none !important;
}

.navbar {
  width: 1200px;
  margin: auto !important;
  z-index: 1;
  height: 75px;
}

.menu-bg {
  width: 1200px;
  position: absolute;
  z-index: 0;
  height: 95px;
  background-color: transparent;
  opacity: 0.7;
  background-repeat: repeat-x;
  transition: opacity 0.35s cubic-bezier(0.165, 0.85, 0.45, 1);
  background-image: linear-gradient(
    180deg,
    rgba(20, 24, 28, 1) 0,
    rgba(20, 24, 28, 0.95) 17%,
    rgba(20, 24, 28, 0.8) 30%,
    rgba(20, 24, 28, 0.6) 45%,
    rgba(20, 24, 28, 0.4) 55%,
    rgba(20, 24, 28, 0.2) 70%,
    rgba(20, 24, 28, 0.1) 83%,
    rgba(20, 24, 28, 0)
  ) !important;
}

.navbar:hover .menu-bg {
  opacity: 0.85;
}

.navbar > .menu > a.item {
  letter-spacing: 0.025rem;
  font-weight: 700 !important;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
}

.navbar > .menu > .active.item {
  text-shadow: none !important;
}
