.ui.menu.fluid.actions {
  border: none !important;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35) !important;
  background: #456 !important;
  margin-bottom: 1.5rem;
}

.ui.menu.actions .item {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
  color: #bcd;
  background: #456 !important;
}

.ui.menu.actions .item:hover {
  color: #def !important;
}

.action-buttons {
  padding: 0 1rem !important;
  margin: auto !important;
}

.action-buttons .column {
  padding: 0.35rem 0 !important;
}

.action-buttons i {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  color: #9ab;
  padding: 0 !important;
}

.star,
rect {
  text-shadow: none !important;
}

.half-star {
  color: #334556 !important;
}

.rate {
  display: inline-flex !important;
}

.stars {
  margin-top: 0.8rem;
}

.ui.floated.menu .item:last-child:before {
  display: initial;
}

.ui.checkbox label {
  color: #def !important;
}

.stars {
  color: #fbbd08;
}

.stars > span > .fa.fa-star {
  color: #345;
  text-shadow: none;
}
