asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.6.1
Django==2.2.1
django-cors-headers==3.0.1
django-rest-knox==4.0.1
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
idna==2.8
pycparser==2.19
PyJWT==1.7.1
python-dotenv==0.10.2
pytz==2019.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
