.ui.segment.basic {
  margin: 0;
}

.profile-header {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45) !important;
}

.profile-header h2 {
  font-family: "Raleway", sans-serif !important;
  color: #fff;
  margin-bottom: 0.5rem;
}

.profile-header span {
  font-family: "Raleway", sans-serif !important;
  font-size: 0.9rem !important;
  cursor: default;
}

.profile-header span:not(:first-child) {
  margin-left: 1.5rem;
}

.profile-header span a {
  color: #9ab;
}

.profile-header span a:hover {
  color: #fff !important;
}

.statistic {
  margin-bottom: 0 !important;
}

.statistic div {
  font-weight: 300 !important;
  color: #9ab !important;
  text-transform: capitalize !important;
  text-align: right !important;
}

.statistic .value {
  font-family: "Lato", sans-serif !important;
}

.statistic .label {
  font-family: "Raleway", sans-serif !important;
  font-size: 0.9rem !important;
}

.profile-menu-wrapper {
  border: 1px solid #24303c !important;
  border-radius: 0.3rem;
}

.profile-menu {
  background: #14181c !important;
  box-shadow: none !important;
  border: none !important;
}

.profile-menu .item {
  color: #9ab !important;
  text-shadow: none !important;
}

.profile-menu .active.item {
  background: #24303c !important;
  color: #fff !important;
}

.ui.compact.menu .item:last-child,
.ui.compact.menu .item:first-child {
  border-radius: 0 !important;
}

.ui.horizontal.divider {
  font-size: 0.8rem;
  color: #9ab;
  font-weight: 300;
  margin-top: 2rem;
  /* text-transform: capitalize; */
}

.ui.horizontal.divider:first-child {
  margin-top: 0;
}

.games-wrapper {
  text-align: center;
}

.placeholder {
  display: inline-block;
  width: 135px;
  height: 192px;
  margin: 0 1rem 0 0;
  background: #0c0e10;
  box-shadow: 0 0 0 1px rgb(48, 56, 64);
  border-radius: 0.3125rem;
}

.placeholder:last-child {
  margin: 0 !important;
}

.profile-content .message {
  background: #2c3440;
  color: #bcd;
}

.profile-content .message i {
  font-size: 2rem !important;
}

.profile-content .message p {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45) !important;
}

.profile-avatar {
    width: 100% !important;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .placeholder {
    width: 75px;
    height: 106.6px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .placeholder {
    width: 80px;
    height: 113.7px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .placeholder {
    width: 105px;
    height: 149.3px;
  }
}
