.ui {
  &.icon.input {
    > input {
      background-color: #9ab;
      color: #456;
      border: none;
      transition: opacity 0.2s;
      opacity: 0.2;

      &:focus {
        opacity: 1;
        background-color: #fff;
        color: #000;

        + .search.icon {
          color: #000;
        }
      }
    }

    > .search.icon {
      color: #9ab;
    }
  }

  &.search > .results {
    overflow-y: auto;
    max-height: 350px;
  }
}
