.ui.modal,
.ui.modal.register > .content {
  background: #456;
}

.description .ui.header {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: #26323f;
  margin: 0 0 0.75rem;
}

.register .close.icon {
  color: #def;
  top: 2rem;
  right: 1.5rem;
}

.register {
  padding: 1rem;
}

.button.positive {
  margin: 0.7rem 0 1.7rem;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}

.ui.error.message {
  background-color: #f2711c;
  color: #fff;
  box-shadow: none;
  margin-top: 0;
  width: 100%;
}

.ui.error.message:not(:last-child) {
  margin-bottom: 0.7rem;
}

.backdrop-name a {
  margin-top: 7rem;
  text-align: center;
  color: #678;
  border-bottom: 1px solid #456;
}

.backdrop-name a:hover {
  color: #9ab !important;
}