.ui {
  &.modal {
    background: #456;

    &.register > .content {
      background: #456;
    }
  }

  &.error.message {
    background-color: #f2711c;
    color: #fff;
    box-shadow: none;
    margin-top: 0;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }
}

.register {
  padding: 1rem;

  .close.icon {
    color: #def;
    top: 2rem;
    right: 1.5rem;
  }

  .button.positive {
    margin: 0.7rem 0 1.7rem;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  }
}

.description .ui.header {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: #def;
  margin: 0 0 0.75rem;
}
