h1 {
  color: #fff;
}

.landing {
  padding-top: 410px !important;
  background-image: none;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
}

.landing a {
  border-bottom: 1px solid #456;
}

.backdrop-name,
.backdrop-name a {
  margin-top: 4.5rem;
  text-align: center;
  color: #678;
}

.backdrop-name a:hover {
  color: #9ab !important;
}
