.rating-chart {
  background-color: #14181c;
  margin: 0;
  display: flex;
  width: 100%;
  margin: 0 0.55rem;
}

.rating-chart > .rating-bar {
  width: 10%;
  background-color: #435566;
  margin-top: auto;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #14181c;
  cursor: pointer;
}

.rating-chart > .rating-bar:hover {
  background-color: #667788;
  margin-top: auto;
}

.rating {
  display: flex;
}

.rating-average {
  margin-top: auto;
  font-size: 1.75rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  display: inline-block;
}

.rating-label {
  margin-top: auto;
  text-align: center;
  font-size: 13px;
}

.rating-label .star {
  color: rgba(247, 187, 8, 0.85);
  display: block;
  height: 15px;
  margin-top: auto;
}
