.SingleDatePickerInput {
  display: inline !important;
  background: none;
}

.DateInput {
  width: 6rem !important;
  background: none;
}

.DateInput_input {
  display: inline !important;
  cursor: pointer;
  font-family: "Segoe UI", sans-serif !important;
  background: #345 !important;
  color: #fff !important;
  border: none !important;
  text-align: center !important;
  font-size: 0.85rem !important;
  padding: 0.5rem !important;
  box-shadow: inset 1px 0 5px rgba(0, 0, 0, 0.1) !important;
}

.modal .cover {
  box-shadow: none;
}

.modal .checkbox label {
  padding-right: 0.7rem;
}

.modal .heart {
  color: #345;
}

.register.log .button.positive {
  margin: 0;
}

.game-header {
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal .game-header h2 {
  text-shadow: 2px 0 7px rgba(0, 0, 0, 0.6);
}

.modal .stars {
  margin-top: 0;
}

.modal .ui.selection.dropdown {
  box-shadow: inset 1px 0 5px rgba(0, 0, 0, 0.1) !important;
  min-height: 1rem;
  padding: 0.5em 2.1em 0.5em 1em;
}

.modal .ui.selection.dropdown > .dropdown.icon {
  top: 0.5em;
}

.modal .ui.selection.dropdown,
.modal .ui.selection.dropdown .menu {
  background: #9ab;
  border: 1px solid #9ab !important;
}

.ui.active.visible.selection.dropdown > .text{
  color: #234 !important;
}

.modal .ui.selection.dropdown .text {
  text-shadow: none;
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #234;
}

.ui.selection.dropdown .menu > .item {
  border-top: none;
}
