.SingleDatePickerInput {
  display: inline !important;
  background: none;
}

.DateInput {
  width: 6rem !important;
  background: none;
}

.DateInput_input {
  display: inline !important;
  cursor: pointer;
  font-family: "Segoe UI", sans-serif !important;
  background: #345 !important;
  color: #fff !important;
  border: none !important;
  text-align: center !important;
  font-size: 0.85rem !important;
  padding: 0.5rem !important;
  box-shadow: inset 1px 0 5px rgba(0, 0, 0, 0.1) !important;
}

.modal .cover {
  box-shadow: none;
}

.modal .checkbox label {
  padding-right: 0.7rem;
}

.modal .heart {
  color: #345;
}

.register.log .button.positive {
  margin: 0;
}

.game-header {
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal .game-header h2 {
  text-shadow: 2px 0 7px rgba(0, 0, 0, 0.6);
}

.modal .stars {
  margin-top: 0;
}
