.features .message {
  text-align: left;
  text-shadow: none;
  color: #9ab;
  background: #456;
  cursor: pointer;
}

.features .row {
  padding: 0 !important;
}

.features .column {
  margin: 1rem 1rem 0 0 !important;
  padding: 0 !important;
}

.ui.message .icon {
  margin: 0 0.6em 0 0 !important;
}

.ui.message:hover {
  color: #fff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
}

.ui.message.track:hover {
  background-color: #21ba45;
}

.ui.message.like:hover {
  background-color: #f2711c;
}

.ui.message.reviews:hover {
  background-color: #6435c9;
}

.ui.message.rate:hover {
  background-color: #fbbd08;
}

.ui.message.journal:hover {
  background-color: #e03997;
}

.ui.message.lists:hover {
  background-color: #2185d0;
}
