.month {
  width: 35px;
  height: 35px;
  padding-top: 10px;
  background: url("/sprite.svg") -600px -280px no-repeat;
  float: left;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #14181c;
  line-height: 1.4;
}

.journal {
  list-style: none;
}

.journal li {
  overflow: hidden;
}

.journal li:not(:first-child) {
  padding: 10px 0 8px;
}

.journal li:not(:last-child) {
  border-bottom: 1px solid #2c3440;
}

.journal li dl {
  width: 282px;
  float: right;
  overflow: hidden;
}

ul,
dl {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.journal li dl dt {
  width: 23px;
  float: left;
  clear: both;
  font-size: 1rem;
  color: #678;
  text-align: right;
}

.journal a {
  color: #9ab;
}

.journal li dl dd {
  width: 250px;
  float: right;
}
.journal li dl dd,
.journal li dl dt {
  display: block;
  line-height: 1.25;
  margin-bottom: 7px;
  margin-inline-start: 0;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .journal li dl {
    width: 165px;
  }
  .journal li dl dd {
    width: 135px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .journal li dl {
    width: 155px;
  }
  .journal li dl dd {
    width: 125px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .journal li dl {
    width: 220px;
  }
  .journal li dl dd {
    width: 187px;
  }
}
