.dlc .ui.header.white {
  color: #fff;
  margin: 0;  
}
.white{
  text-align: left;
}
.sec {
    text-align: center;
  }
  
  .dlc .sec .cover-wrapper {
    margin: 1rem 0.5rem 0 0.5rem;
    width: 135px;
    height: 192px;
    display: inline-flex;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgb(48, 56, 64);
    border-radius: 0.3125rem;
    cursor: pointer;
  }
  
  .dlc .sec .cover-wrapper:last-child,
  .dlc .placeholder:last-child {
    margin: 1rem 0 0 0.5rem;
  }
  
  .dlc .sec .cover-wrapper:hover .cover-overlay {
    opacity: 1;
  }
  
  .dlc .sec .cover {
    width: 100%;
    height: 100%;
    border-radius: 0.3125rem;
  }
  
  .dlc .sec .cover-overlay {
    position: absolute;
    opacity: 0;
    flex-shrink: 0;
    display: block;
    z-index: 2;
    width: 135px;
    height: 192px;
    transition: opacity 0.2s;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.3125rem;
  }
  
  .cover-overlay > strong {
    color: #fff;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
    padding: 0 0.325rem;
    height: 100%;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
  }
  
  .dlc .sec .placeholder {
    display: inline-block;
    width: 135px;
    height: 192px;
    margin: 1rem 0.5rem 0 0.5rem;
    background: #0c0e10;
    box-shadow: 0 0 0 1px rgb(48, 56, 64);
    border-radius: 0.3125rem;
  }
  
  @media only screen and (max-width: 767px) and (min-width: 320px) {
    .dlc .sec .cover-wrapper,
    .dlc .sec .placeholder {
      width: 90px;
      height: 128px;
    }
  }
  .dlc-holder{
    margin:0 -0.5rem;
  }