.recent-wrapper {
  .icon {
    opacity: 0.8;
    color: #678;
  }

  .rating {
    margin-right: 0.3rem;
    display: inline;
    color: #678;
    cursor: default;
  }
}

.activity-icons {
  margin-top: 0.35rem;
  float: left;
}
