.ui.segment {
  border: none !important;
}

.ui.inverted.menu .pink.active.item:hover {
  background: #e03997 !important;
}

.ui.inverted.menu .violet.active.item:hover {
  background: #6435c9 !important;
}

.ui.inverted.menu .yellow.active.item:hover {
  background: #fbbe08f5 !important;
}

.ui.inverted.menu .orange.active.item:hover {
  background: #f2711c !important;
}

.ui.inverted.menu .green.active.item:hover {
  background: #21ba45 !important;
}