.game-header > h1 {
  color: #fff;
  text-shadow: #000 2px 0 5px;
  display: inline;
  margin-right: 0.7rem;
}

.game-info:not(rect),
.game-header {
  display: block;
  font-size: 1.5rem;
  color: #9ab;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
  white-space: nowrap;
  max-width: 100%;
  letter-spacing: 0.02em;
}

.release-date {
  margin-right: .7rem;
}

.game-header a,
.game-info a {
  color: #9ab;
  border-bottom: 1px solid #456 !important;
}

a:hover {
  color: #40bcf4;
}

.cover {
  box-shadow: 0 0 0 1px rgba(221, 238, 255, 0.35) !important;
}

.actions {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35) !important;
}

.margin-bottom {
  margin-bottom: 3rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.margin-top {
  margin-top: 3rem !important;
}

.margin-top-sm {
  margin-top: 1.5rem !important;
}

.ui.menu {
  border: none !important;
}

.ui.ui.actions.menu,
.ui.actions.menu .actions.item {
  background: #456 !important;
}

.ui.icon.menu .item {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
  color: #bcd !important;
}

.action-buttons .column {
  padding: .35rem 0 !important;
}

.action-buttons {
  padding: 0 1rem !important;
  margin: auto !important;
}

.action-buttons i {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  color: #9ab;
  padding: 0 !important;
}

.ui.menu.fluid.actions {
  width: 85% !important;
}

.star, rect {
  text-shadow: none !important;
}

.half-star {
  color: #334556 !important;
}

.rate {
  display: inline-flex !important;
}

.stars {
  margin-top: 0.8rem;
}

.lazy-load-image-background.blur {
  filter: blur(10px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: none;
  transition: filter 0.4s;
}

.game-content {
  padding-top: 410px !important;
  background-image: none;
}

.cover.placeholder {
  image-rendering: pixelated;
}

.summary {
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
}

.popup, .popup::before {
  background-color: #242c34 !important;
  background: #242c34 !important;
  color: #9ab !important;
}

.label.platform {
  color: #9ab;
  margin: 0 0.3rem 0.4rem 0;
  background-color: #242c34;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1);
  font-weight: 400;
  cursor: pointer;
}

.label.platform:hover {
  color: #def;
  background: #303840;
}

.quick-stats, .quick-stats a {
  text-align: center;
  color: #678 !important;
}

.quick-stats a:hover{
  color: #fff !important;
}


