.game-header > h1 {
  color: #fff;
  text-shadow: #000 2px 0 5px;
  display: inline;
  margin-right: 0.7rem;
}

.game-info:not(rect),
.game-header {
  display: block;
  font-size: 1.5rem;
  color: #9ab;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
  white-space: nowrap;
  max-width: 100%;
  letter-spacing: 0.02em;
}

.release-date {
  margin-right: 1rem;
}

.game a {
  color: #def;
  border-bottom: 1px solid #456 !important;
}

a:hover {
  color: #40bcf4;
}

.cover {
  box-shadow: 0 0 0 1px rgba(221,238,255,.35) !important;
}

.actions {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35) !important;
}

.margin-bottom {
  margin-bottom: 3rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.margin-top {
  margin-top: 3rem !important;
}

.margin-top-sm {
  margin-top: 1.5rem !important;
}

.ui.menu {
  border: none !important;
}

.ui.ui.actions.menu,
.ui.actions.menu .actions.item {
  background: #456 !important;
}

.ui.icon.menu .item {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
  color: #bcd !important;
}

.action-buttons i {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  color: #9ab;
}

.star,
rect {
  text-shadow: none !important;
}

.half-star {
  color: #334556 !important;
}

.stars {
  margin-top: 0.8rem;
}

.lazy-load-image-background.blur {
  filter: blur(10px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: none;
  transition: filter 0.4s;
}

.game-content {
  padding-top: 450px !important;
  background-image: none;
}

.cover.placeholder {
  image-rendering: pixelated;
}