body {
  color: #9ab;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: #14181c;
  /* background-image: linear-gradient(180deg,#14181c 0,#2c3440 1px); */
  background-repeat: repeat-x;
  background-position: 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.margin-bottom {
  margin-bottom: 3rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.margin-top {
  margin-top: 3rem !important;
}

.margin-top-sm {
  margin-top: 1.5rem !important;
}