.segment.tab {
  padding: 0;
  margin: 0;
  background: #14181c !important;
}

.tabs a {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase !important;
  color: #00e054 !important;
}

.tabs a:hover {
  border-bottom: 2px solid #00e054 !important;
}

.tabs a.active {
  color: #fff !important;
  font-weight: 400 !important;
  border-bottom: 2px solid #fff !important;
}

.tabs > .menu {
  border-bottom: 1px solid #456 !important;
}

.tab.details h3 {
  float: left;
  font-family: "Segoe UI", sans-serif !important;
  font-weight: 400;
  border-bottom: 1px dotted #456;
  margin-top: 1rem;
  font-size: 14px;
  width: 100%;
}

.tab.details span {
  color: #789;
  text-transform: uppercase;
  position: relative;
  top: 4px;
  background-color: #14181c;
  padding-right: 0.2rem;
}

.tab.details .column.details {
  margin-top: 1rem;
  padding-left: .5rem !important;
}

.tab.details .column {
  padding-right: 0 !important;
}

.tab.details .row {
  padding-top: 0;
}
