.popular {
  text-align: center;
}

.popular .cover-wrapper {
  margin: 1rem 1rem 0 0;
  width: 135px;
  height: 192px;
  display: inline-flex;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgb(48, 56, 64);
  border-radius: 0.3125rem;
  cursor: pointer;
}

.popular .cover-wrapper:hover .cover-overlay {
  opacity: 1;
}

.popular .cover {
  width: 100%;
  height: 100%;
  border-radius: 0.3125rem;
}

.popular .cover-overlay {
  position: absolute;
  opacity: 0;
  flex-shrink: 0;
  display: block;
  z-index: 2;
  width: 135px;
  height: 192px;
  transition: opacity 0.2s;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.3125rem;
}

.cover-overlay > strong {
  color: #fff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
  padding: 0 0.325rem;
  height: 100%;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.popular .placeholder {
  display: inline-block;
  width: 135px;
  height: 192px;
  margin: 1rem 1rem 0 0;
  background: #0c0e10;
  box-shadow: 0 0 0 1px rgb(48, 56, 64);
  border-radius: 0.3125rem;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .popular .cover-wrapper, .popular .placeholder {
    width: 90px;
    height: 128px;
  }
}